root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.{cpp,h,hpp}]
end_of_line = crlf
indent_style = space
indent_size = 4

[*.{cmd,lua,rst}]
end_of_line = crlf
indent_style = space
indent_size = 4

[*.{props,xml}]
end_of_line = crlf
indent_style = space
